@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* global css styling */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
}

a {
    -webkit-tap-highlight-color: transparent;
}

h3 {
    color: rgb(100, 66, 66);
    font-size: 2em;
}

p {
    font-size: 1.7em;
    line-height: 1.3em;
}

.content {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer {
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    padding: 3rem 8em;
    gap: 4em;
    margin: auto;
}

.footer .content {
    gap: 3rem;
}

.footer p,
.footer a,
.copy-right {
    font-size: 1rem;
    color: rgb(202, 202, 202);
}

.copy-right {
    text-align: center;
}

.footer__box {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
}

.footer__box:nth-child(1) {
    flex: 0 1 30%;
}

.footer__header a {
    display: flex;
    gap: 1rem;
}

.footer__image-box {
    display: flex;
    align-items: center;
}

.footer__image {
    background-image: url(../imgs/logo.png);
    width: 5em;
    height: 5em;
    background-size: cover;
}

.footer__text-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__header {
    display: flex;
    height: 8rem;
}

.footer h4 {
    font-size: 1.5rem;
    margin: auto 0;
    color: white;
}


/* navbar styling starts here */

.nav {
    display: flex;
    z-index: 999;
    max-width: 84rem;
    margin: 0 auto;
    overflow: hidden;
}

.nav .content {
    width: 100%;
    height: 6rem;
    padding: 0.5rem 2rem;
    font-weight: 900;
    z-index: 998;
}

.nav img {
    width: 5rem;
    height: 5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.nav .nav__links li {
    display: inline-block;
    padding: 1rem;
}

.nav a:hover {
    color: rgb(194, 140, 95);
}

.nav__tab {
    display: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.nav__tab:hover {
    background-color: rgb(196, 196, 196);
}

.nav__tab-icon-box {
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
}

.nav__tab-icon {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(99, 99, 99);
    border-radius: 1rem;
    height: 0.25rem;
    transition-property: top, transform;
    transition-duration: 0.5s;
}

.nav__tab-icon-0 {
    top: 0;
}

.nav__tab-icon-1 {
    top: 50%;
    transform: translateY(-50%);
}

.nav__tab-icon-2 {
    top: 100%;
    transform: translateY(-100%);
}

.nav__tab--0 {
    top: 50%;
    transform: translateY(-50%) rotate(225deg);
}

.nav__tab--1 {
    top: 50%;
    transform: translateY(-50%) rotate(-225deg);
}

.nav__tab--2 {
    top: 50%;
    transform: translateY(-50%) rotate(-225deg);
}

.nav__tab-open {
    position: fixed;
    display: flex;
    top: 6rem;
    right: -100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    width: 80%;
    z-index: -1;
    border-top: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
    padding: 0 2rem;
    transition-property: right;
    transition-duration: 0.3s;
}

.nav__tab-open a {
    padding: 2rem;
}

.nav__tab-links {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.nav__tab-close {
    position: fixed;
    display: none;
    left: 0;
    top: 6rem;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: -2;
}

.nav__tab-open--active {
    right: 0;
}

.display-block {
    display: block;
}


/* prevent scrolling when the nav tab is actived */

.prevent-scrolling {
    height: 100%;
    overflow: hidden;
}


/* home styling starts here */

.home__image-box {
    flex: 1 1 40%;
    width: 100%;
    height: 30rem;
    padding: 1rem;
    margin: auto;
}

.home__image {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home__text-box {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding: 2rem 5rem;
    text-align: center;
    background-color: rgb(252, 244, 232);
}

.link-box {
    font-size: 1.3em;
    padding: 0.5rem 1rem;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 1rem;
}

.link-box:hover {
    background: rgba(43, 43, 43, 0.555);
}


/* home banner styling starts here */

.home__banner .home__image {
    background-image: url(../imgs/b18.jpg);
    position: relative;
}

.home__banner h3 {
    color: rgb(228, 204, 127);
}

.home__banner p {
    color: white;
}

.home__banner .home__image-box {
    padding: 0;
}

.home__banner .home__text-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(97, 81, 57, 0.74);
}


/* home menu styling starts here */

.home__menu .home__image {
    background-image: url(../imgs/b10.jpg);
}

.home__menu .home__image-box {
    background: linear-gradient(120deg, rgb(228, 220, 212), rgb(158, 96, 26));
}

.home__menu .content {
    flex-direction: row-reverse;
}


/* home event styling starts here */

.home__event .home__image {
    background-image: url(../imgs/b16.jpg);
}

.home__event .home__image-box {
    padding: 0;
}


/* home hiring styling starts here */

.home__hiring .home__image {
    background-image: url(../imgs/b1.jpg);
}

.home__hiring .content {
    flex-direction: row-reverse;
}

.home__hiring .home__text-box {
    background-color: transparent;
}


/* home reward styling starts here */

.home__reward .home__image {
    background-image: url(../imgs/b11.jpg);
}

.home__reward .home__image-box {
    background: linear-gradient(120deg, rgb(216, 126, 23), rgb(204, 194, 184));
}


/* home location styling starts here */

.home__location {
    padding: 5rem 2rem;
}

.home__location .home__text-box {
    background-color: transparent;
}

.home__location div:nth-child(2) {
    display: flex;
    flex: 1 1 10%;
    align-items: center;
    justify-content: center;
}


/* menu styling starts here */

.menu {
    display: flex;
    max-width: 80rem;
    margin: 0 auto;
    flex-wrap: wrap;
}


/* menu aside styling starts here */

.menu aside {
    width: 15rem;
    padding: 2rem 0 1rem 1rem;
    min-height: 100vh;
    border-right: 1px solid rgb(194, 194, 194);
    box-shadow: 5px 0 3px -3px #888;
}

aside .content {
    flex-direction: column;
    font-size: 1.2em;
    padding: 2rem 0;
}

.menu__option {
    padding: 0.5rem 0;
    cursor: pointer;
    color: gray;
}

.menu__option:hover {
    color: rgb(100, 66, 66);
}

.menu__option--active {
    color: rgb(100, 66, 66);
}

.menu__aside h2 {
    color: rgb(73, 52, 11);
}


/* menu main starts here */


/* menu header styling starts here */

.menu main {
    flex: 1 1 50%;
    padding: 0 2rem;
}

.menu header {
    z-index: 1;
}

.menu__header {
    position: relative;
    display: none;
    margin: 0 2rem;
    padding: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    height: 30rem;
    border-bottom: 2px dashed rgb(134, 134, 134);
}

.menu__header h4 {
    border-bottom: 2px dotted rgb(163, 163, 163);
    color: rgb(71, 71, 71);
}

#menu__header__image-box {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(35deg, rgb(236, 236, 236), rgb(151, 110, 63));
    border-radius: 50%;
    overflow: hidden;
}

#menu__header__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: saturate(120%);
}

.menu__header__text-box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.3em;
}

.menu__close-box {
    position: absolute;
    right: 0;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(224, 224, 224);
    padding: 0.5rem;
    cursor: pointer;
}

.menu__close {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    height: 0.1rem;
    background-color: rgb(66, 66, 66);
    transition-property: transform, background-color;
    transition-duration: 0.5s;
}

.menu__close:first-child {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.menu__close:last-child {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.menu__close-box:hover {
    background-color: rgb(202, 202, 202);
}

.menu__close-box:hover .menu__close:first-child,
.menu__close-box:hover .menu__close:last-child {
    transform: rotate(0);
}


/* menu main styling starts here */

.menu__item-bundle {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    padding: 1rem 0;
}

.menu__item-box {
    flex: 0 1 20%;
    font-size: 0.8em;
    text-align: center;
    margin: 2.5%;
    width: 20rem;
    display: none;
}

.menu__item {
    padding-bottom: 100%;
    border-radius: 50%;
    background: linear-gradient(rgb(209, 174, 135), rgb(236, 236, 236));
    cursor: pointer;
    position: relative;
    filter: saturate(70%);
    overflow: hidden;
}

.menu__item:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(rgb(151, 110, 63), rgb(236, 236, 236));
    transition-property: opacity;
    transition-duration: 0.5s;
}

.menu__item:hover {
    background: linear-gradient(rgb(233, 178, 95), rgb(236, 236, 236));
}

.menu__item:hover.menu__item:after {
    opacity: 0.3;
}

.menu__item__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: saturate(150%);
}

.menu__main h2 {
    padding: 2rem 0;
    margin: 0 2rem;
    color: rgb(100, 66, 66);
    display: block;
    width: 100%;
    border-bottom: 2px solid rgb(211, 211, 211);
}

.menu-display {
    display: block;
}


/* drink images for the menu items */

.menu__item__image--1 {
    background-image: url(../imgs/2.png);
}

.menu__item__image--2 {
    background-image: url(../imgs/1.png);
}

.menu__item__image--3 {
    background-image: url(../imgs/3.png);
}

.menu__item__image--4 {
    background-image: url(../imgs/4.png);
}

.menu__item__image--5 {
    background-image: url(../imgs/5.png);
}

.menu__item__image--7 {
    background-image: url(../imgs/7.png);
}

.menu__item__image--8 {
    background-image: url(../imgs/8.png);
}

.menu__item__image--9 {
    background-image: url(../imgs/9.png);
}

.menu__item__image--11 {
    background-image: url(../imgs/11.png);
}

.menu__item__image--12 {
    background-image: url(../imgs/12.png);
}

.menu__item__image--13 {
    background-image: url(../imgs/13.png);
}

.menu__item__image--14 {
    background-image: url(../imgs/14.png);
}

.menu__item__image--15 {
    background-image: url(../imgs/15.png);
}

.menu__item__image--16 {
    background-image: url(../imgs/16.png);
}

.menu__item__image--17 {
    background-image: url(../imgs/17.png);
}

.menu__item__image--18 {
    background-image: url(../imgs/18.png);
}

.menu__item__image--19 {
    background-image: url(../imgs/19.png);
}

.menu__item__image--21 {
    background-image: url(../imgs/21.png);
}

.menu__item__image--22 {
    background-image: url(../imgs/22.png);
}

.menu__item__image--24 {
    background-image: url(../imgs/24.png);
}


/* get innterHTML text from drink-text to menu__header-text */

.drink-text {
    display: none;
}


/* reward page starts here */

.reward__image-box {
    width: 100%;
    height: 30rem;
}

.reward__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.reward__banner .reward__image {
    background-image: url(../imgs/b6.jpg);
}

.reward__banner-text-box {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
    background-color: rgba(97, 81, 57, 0.74);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 0 10rem;
}

.reward__banner h3 {
    color: rgb(228, 204, 127);
}

.reward__banner p {
    color: white;
}

.reward__text-box span {
    color: rgb(165, 73, 73);
}

.reward__coupon .content {
    display: flex;
}

.reward__title {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    font-weight: 900;
    color: rgb(66, 66, 66);
}

.reward__topic {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    color: rgb(66, 66, 66);
}

.reward__coupon-box {
    width: 100%;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    perspective: 900px;
}

.reward__coupon-box--2 {
    flex-direction: row-reverse;
}

.reward__drink {
    background-image: url(../imgs/1.png);
    width: 13em;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.reward__arrow {
    position: relative;
    display: flex;
    width: 2em;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: rgb(58, 58, 58);
}

.reward__card {
    position: relative;
    width: 15em;
    height: 10em;
    background-color: rgb(226, 146, 81);
    text-align: center;
    padding: 1em;
    transform: rotateY(-35deg);
}

.reward__card p {
    font-size: 1em;
}

.reward__card-grid {
    position: relative;
    display: grid;
    grid-template-rows: 2em 2em;
    grid-template-columns: repeat(5, 2em);
    gap: .5em;
    padding: 2em 1em;
    justify-content: center;
}

.reward__card:after {
    position: absolute;
    content: '';
    left: .5rem;
    top: .5rem;
    right: .5rem;
    bottom: .5rem;
    border: 1px solid rgb(255, 255, 255)
}

.reward__card-grid span {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.reward__card-grid span:nth-child(1) {
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.reward__coupon-box--2 .reward__card {
    transform: rotateY(35deg);
}

.reward__coupon-box--2 .reward__card-grid span {
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.reward__text-box {
    padding: 2rem 8rem;
}

.reward__event .reward__image-box {
    height: 20rem;
}

.reward__event .reward__image {
    background-image: url(../imgs/b16.jpg);
}

.reward__event .reward__image-box:nth-child(2) {
    background-image: url(../imgs/b3.jpg);
    background-position: 50% 40%;
    background-size: cover;
}

.reward__event .reward__image-box:nth-child(5) {
    background-image: url(../imgs/b15.jpg);
    background-position: 50% 40%;
    background-size: cover;
}

@media (max-width: 65rem) {
    .footer {
        padding: 3rem 1rem;
    }
    .menu aside {
        width: auto;
        padding: 1rem 3rem;
        border-right: none;
        box-shadow: none;
        min-height: 0;
        margin-bottom: -2rem;
        padding: 1rem 2rem;
    }
    .menu__aside .content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        line-height: 0rem;
        padding: 1rem 0;
    }
    .menu main {
        padding: 0;
    }
    .menu__aside h2 {
        padding: 1rem 0;
    }
    .menu__header {
        margin: 0 2rem;
    }
}

@media (max-width: 50rem) {
    body {
        font-size: 0.8rem;
    }
    nav .content {
        align-items: center;
        justify-content: space-between;
    }
    .nav__links {
        display: none;
    }
    .nav__tab {
        display: flex;
    }
    .footer {
        text-align: center;
        padding: 3rem 4rem;
    }
    .footer .content {
        gap: 1rem;
    }
    .footer__header {
        height: 6rem;
    }
    .footer__header {
        justify-content: center;
    }
    .footer__box {
        gap: 1rem;
    }
    .footer__box {
        flex: 1 1 100%;
    }
    .footer__box:nth-child(1) {
        flex: 1 1 100%;
    }
    .home__text-box {
        padding: 2rem;
        flex: 1 1 100%;
    }
    .home__menu .content {
        flex-direction: row;
    }
    .home__image-box {
        flex: 1 1 100%;
        height: 20rem;
    }
    .home__location {
        padding: 0;
        padding-bottom: 2rem;
    }
    .menu aside {
        padding: 1rem 1rem;
    }
    .menu__main h2 {
        margin: 0 1rem;
    }
    .menu__header {
        gap: 1rem;
        height: auto;
    }
    #menu__header__image-box {
        flex: 1 1 100%;
        border-radius: 0;
    }
    .menu__close-box {
        right: 0.5rem;
        top: 2.5rem;
    }
    .menu__header {
        margin: 0 1rem;
    }
    .menu__item-box {
        flex: 0 1 28%;
        margin: 2.6%;
        width: 20rem;
    }
    .reward__banner-text-box {
        padding: 2rem;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .reward__text-box {
        padding: 2rem;
    }
}

@media (max-width: 30rem) {
    .menu__item-box {
        flex: 0 1 45%;
        margin: 2.5%;
        width: 20rem;
    }
}